@page "/fetchdata"
@using GitInsight.Data
@inject GitInsightController Controller

<PageTitle>GitInsight</PageTitle>

<h1>GitInsight</h1>

<p>Please write github repository and what mode to analyze in:</p>
<p>- FQMode </p>
<p>- AuthMode </p>

<div>
    Repository:
    <input type="text" @bind="gitRepoInput">
</div>
<br>
<div> 
    Analyze Mode:
    <input type="text" @bind="analyzeModeInput"> 
</div>
<br>
<div>
    <button class="btn btn-primary" @onclick="submitInput">
        Run Analysis
    </button>
</div>

<br>
<div>
@if (FQresult == null && Authresult == null)
{
    <p><em>Waiting for input...</em></p>
}
else if (FQresult != null)
{
    <table id = "FQTable" class="table">
        <thead>
            <tr>
                <th>Github Repository</th>
                <th>Date</th>
                <th>Total Commits</th>
            </tr>
        </thead>
<tbody>
                 @foreach (GitInsight.Entities.RepoCheckRepository.comFreqObj result in FQresult)
            {
                <tr>
                    <td>@gitRepoInput</td>
                    <td>@result.date.Replace("00:00:00", "")</td>
                    <td>@result.commits</td>
                </tr>
            } 
        </tbody>
    </table>
} else if (Authresult != null){
    <table id = "AuthTable" class="table">
        <thead>
            <tr>
                <th>Github Repository</th>
                <th>Author</th>
                <th>Date</th>
                <th>Total Commits</th>
            </tr>
        </thead>
<tbody>
        @foreach (GitInsight.Entities.RepoCheckRepository.userComFreqObj result in Authresult)
            {
                @foreach (var contr in @result.datesCommits)
                    {
                    <tr>
                        <td>@gitRepoInput</td>
                        <td>@result.author.ToString();</td>
                        <td>@contr.Item1.Replace("00:00:00", "")</td>
                        <td>@contr.Item2</td>
                    </tr>
                    }
            } 
        </tbody>
    </table>
}
</div>


@code {

    public string gitRepoInput {get; set; }

    public string analyzeModeInput {get; set; }
    private List<GitInsight.Entities.RepoCheckRepository.comFreqObj> FQresult;

    private List<GitInsight.Entities.RepoCheckRepository.userComFreqObj> Authresult;

    public void submitInput(){
        //"SpaceVikingEik/hewwo", "FQMode"
        Console.WriteLine(this.gitRepoInput);
        Console.WriteLine(this.analyzeModeInput);

        if(this.analyzeModeInput == "FQMode"){
            runFQMode();
        } else if (this.analyzeModeInput == "AuthMode"){
            runAuthMode();
        }
    }

    private void runFQMode(){
        Authresult = null;
        Microsoft.AspNetCore.Mvc.OkObjectResult tempResult = (Microsoft.AspNetCore.Mvc.OkObjectResult) Controller.GetAnalysis(this.gitRepoInput, this.analyzeModeInput);
        FQresult = tempResult.Value as List<GitInsight.Entities.RepoCheckRepository.comFreqObj>;
    }

    private void runAuthMode(){
        FQresult = null;
        Microsoft.AspNetCore.Mvc.OkObjectResult tempResult = (Microsoft.AspNetCore.Mvc.OkObjectResult) Controller.GetAnalysis(this.gitRepoInput, this.analyzeModeInput);
        Authresult = tempResult.Value as List<GitInsight.Entities.RepoCheckRepository.userComFreqObj>;
    }

}
